# Part 1 of the Machine Learning Project

## Preliminaries


Before satring familiarize yourself with pandas reading the “10 minutes to pandas” tutorial: https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html

Browse through the full pandas user guide when needed: https://pandas.pydata.org/pandas-docs/stable/user_guide/index.html


## Load libraries

In [1]:
# numpy and pandas for data manipulation
import numpy as np
import pandas as pd

# File system manangement
import os

# Suppress warnings
#import warnings
#warnings.filterwarnings('ignore')

# matplotlib and seaborn for plotting
import matplotlib.pyplot as plt
import seaborn as sns

<p><img alt="Datasets" src="https://storage.googleapis.com/kaggle-media/competitions/home-credit/home_credit.png" align="left" hspace="10px" vspace="0px"></p>


<h1>Datasets</h1>

In [52]:
## Change this part with your own dataset files

data_folder = "data/"

src_train = f"{data_folder}application_train.csv.zip" #'https://docs.google.com/uc?export=download&id=1TNRRGlws5vWKEum8v1PQrVq8PGacMT9Y'
src_test = f"{data_folder}application_test.csv.zip" #'https://docs.google.com/uc?export=download&id=1IEUuu-Czdv2gsE8Q0EUtGvUelh2xUwN8'

src_previous = f"{data_folder}previous_application.csv.zip" #'https://docs.google.com/uc?export=download&id=15PuV3DpXii2FokryWCyxTS4HGUj4Kbmn'
src_bureau = f"{data_folder}bureau.csv.zip" #'https://docs.google.com/uc?export=download&id=18ycqN4m4zmoLvZHWIvYzF9SZiErAPeTi'

# If you cannot load the directly the csv from Google drive (Google restrictions), download them manually then change the path to load them locally

app_train = pd.read_csv(src_train, compression="zip")
app_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

<h1>Loading the datasets (2 pts)</h1>

1. Similarly to the train set, load the test set, the bureau dataset and the past applications dataset.

2. Display for each the number of rows and the number of columns

*You will be evaluated as follow*
* 1: Correct approach + code: 1pt
* 2: Code: 1pts

In [53]:
# Your code here
# The variables that should be implemented to store the data are: app_train, app_test, bureau, app_past


# 1 - Loading the different datasets.
app_test = pd.read_csv(src_test, compression="zip")
bureau = pd.read_csv(src_bureau, compression="zip")
app_past = pd.read_csv(src_previous, compression="zip") # TODO: change when past applications data is available

In [54]:
# 2 - The number of rows and columns for each
app_test_cols, app_test_rows = app_test.shape
bureau_cols, bureau_rows = bureau.shape
app_past_cols, app_past_rows = app_past.shape

print(f"Test set: columns: {app_test_cols}, rows: {app_test_rows}\n"
      f"Bureau: columns: {bureau_cols}, rows: {bureau_rows}\n"
      f"Past applications: columns: {app_past_cols}, rows: {app_past_rows}")

Test set: columns: 48744, rows: 121
Bureau: columns: 1716428, rows: 17
Past applications: columns: 1670214, rows: 37

<h1> Feature Engineering</h1>

<h2>Missing values (9pts)</h2>


**3.a**: What columns are missing the most values in app_test?

**3.b**: What columns are missing the most values in bureau?

**3.c**: What columns are missing the most values in app_past?

4: Fix missing data in app_test dataset using categorization and/or simple imputation when appropriate. Be careful to the **data leakage** issue!

*You will be evaluated as follow*
* 3: Correct approach + code 2pts.
* 4: Description of the approach 4pts. Code implementation of the approach 3pts.

In [55]:
# 3


def get_columns_with_max_nans(dataframe: pd.DataFrame) -> tuple[list[str], int]:
    """
    Finds the columns with the most missing (NaN) values in a given DataFrame.
    
    The function calculates the sum of NaN values for each column and identifies 
    all columns that have the maximum number of missing values.

    Parameters:
      dataframe (pd.DataFrame): The input DataFrame to analyze for NaN values.
    
    Returns:
      tuple[list[str], int]: A tuple containing a list of column names with the most NaNs (list of str) 
                             and the corresponding count of NaN values (int).
    """
    nan_counts = dataframe.isnull().sum()
    max_nan_value = nan_counts.iloc[-1]  # get the maximum number of NaNs (last element)
    max_nan_columns = nan_counts[nan_counts == max_nan_value].index.tolist()  # get all columns with that value
    return max_nan_columns, max_nan_value


app_test_col, app_test_val = get_columns_with_max_nans(app_test)
bureau_col, bureau_val = get_columns_with_max_nans(bureau)
app_past_col, app_past_val = get_columns_with_max_nans(app_past)

print(f"Test set: \n    columns: {app_test_col}\n    value: {app_test_val}\n"
      f"Bureau: \n    columns: {bureau_col}\n    value: {bureau_val}\n"
      f"Past applications: \n    columns: {app_past_col}\n    value: {app_past_val}")

Test set:
    columns: ['AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR']
    value: 6049
Bureau:
    columns: ['AMT_ANNUITY']
    value: 1226791
Past applications:
    columns: ['DAYS_FIRST_DRAWING', 'DAYS_FIRST_DUE', 'DAYS_LAST_DUE_1ST_VERSION', 'DAYS_LAST_DUE', 'DAYS_TERMINATION', 'NFLAG_INSURED_ON_APPROVAL']
    value: 673065

In [91]:
a = []
for col in app_test.columns[app_test.isna().any()].tolist():
    a.append(app_test.isnull().sum()[col])
np.sort(a)

array([    8,    24,    29,    29,    29,    29,   911,  6049,  6049,
        6049,  6049,  6049,  6049,  8668, 15605, 20532, 22209, 22624,
       22856, 22856, 22856, 23321, 23321, 23321, 23552, 23552, 23552,
       23579, 23579, 23579, 23619, 23887, 23887, 23887, 23893, 25189,
       25189, 25189, 26084, 26084, 26084, 27641, 27641, 27641, 28254,
       28254, 28254, 31818, 31818, 31818, 32312, 32466, 32466, 32466,
       32780, 32780, 32780, 32797, 33347, 33347, 33347, 33495, 33495,
       33495], dtype=int64)

In [79]:
# 4: Fix missing data in app_test using categorization and/or simple imputation when appropriate. You should use *only* pandas and numpy here. You should *not* use sklearn (scikit-learn).

# NOTE: see description of the "fixing missing data" logic in the function description or in the Markdown cell below


def handle_nans(df: pd.DataFrame, row_thres: float=0.05, col_thres: float=0.25, num_unique=25) -> pd.DataFrame:
    """
    Handles missing data in the following ways:
    1. Drops the column if more than a given percentage (col_thres) of data is missing.
    2. Drops rows with missing values if the percentage of missing values in a column is below a threshold (row_thres).
    3. If a column has a low number of distinct values (less than 30), treat it as categorical and create a new class for NaNs.
    4. For the rest, fills NaNs in numerical columns with the mean of the column.

    Parameters:
      df (pd.DataFrame): The input DataFrame with missing data.
      row_threshold (float): The threshold percentage (default 5%) to drop rows with missing values.
      col_threshold (float): The threshold percentage (default 50%) to drop columns with too many missing values.

    Returns:
      pd.DataFrame: The DataFrame after handling missing data.
    """
    missing_percentage = df.isnull().mean() # calculate the percentage of missing values for each column
    # step 1: drop columns where the missing percentage is greater than the column threshold
    df = df.loc[:, missing_percentage <= col_thres]
    # step 2: drop rows for columns where missing percentage is less than the row threshold
    columns_to_drop_rows = missing_percentage[missing_percentage < row_thres].index
    df = df.dropna(subset=columns_to_drop_rows)
    # step 3
    return df

In [80]:
df = handle_nans(app_test)

In [81]:
df.shape

(47772, 71)

In [82]:
app_test.shape

(48744, 121)

In [67]:
df.shape

(48744, 71)

**4**: Describe your approach, including how you choose the technique to apply, and how you apply the technique (double click to edit a text cell)

There are different ways to handle missing data. The logic I decided to implement is:
1) If the number of missing values in a column is too much relative to the total number of rows (`25%`), we drop the column
2) If the number of missing values in a column is low relative to the total number of rows (`5%`), we drow the rows containing these missing values
for the rest cases, it is not as straightforward:
3) If a column has a low number of distinct values (less than `25`), treat NaN values as categorical and create a new distinct class for them. Number `25` comes from the code below, where I check how many distinct values a column has that contains missing values. Basically, all the columns that have less that 25 unique values containt categorical data.
4) Else, we take the mean of the column and fill NaNs with it.

In [113]:
# get the count of NaN values for each column
nan_counts = app_test.isnull().sum()
# filter columns with more than 1 NaN value
columns_with_nans = nan_counts[nan_counts > 1].index
# output the number of unique values in those columns
unique_values_counts = app_test[columns_with_nans].nunique()
print(np.sort(unique_values_counts.values))

[    2     3     3     3     3     4     7     7     7     7     8     8
    16    18    25    25    26    27    28    30    43    43    44    47
    52   106   129   130   132   134   160   169   175   181   198   200
   241   252   602   636   702   843   918  1211  1543  2001  2025  2026
  2030  2034  2042  2540  2560  2562  2805  2816  2835  3820  3842  3848
  3885  7491 27207 38885]

In [111]:
print(unique_values_counts.sort_values().index[25], unique_values_counts.sort_values().iloc[25])

NONLIVINGAPARTMENTS_MODE 106

In [112]:
app_test["NONLIVINGAPARTMENTS_MODE"]

0           NaN
1           NaN
2           NaN
3        0.0389
4           NaN
          ...
48739       NaN
48740       NaN
48741       NaN
48742       NaN
48743       NaN
Name: NONLIVINGAPARTMENTS_MODE, Length: 48744, dtype: float64

## Class Imbalance (8 pts)

5. Evaluate the class imbalance of the training set.

6. **a** Fix the class imbalance with over/undersampling

 **b** Use the SMOTE algorithm to fix class imbalance

*You will be evaluated as follow*
* 5: Correct approach + code: 2ts
* 6.a: code 3pt
* 6.b: code 3pts

In [ ]:
# 5 - value counts


# 5 - histograms

**5**: Describe briefly your observation (double click to edit a text cell)

In [ ]:
# copy your current dataframe with its .copy() method. You should always use the copy() method if you want to keep the original dataframe untouched when you modify
# this is a very common bug, so please read  https://www.statology.org/pandas-copy-dataframe/

## Your code here
app_train_original = ...


# 6.a - fix imbalance with undersampling or oversampling
# Implement undersampling or oversampling *without* external libraries, only the library provided to implement yourself the chosen solution.

## Your code here


# 6.b - fix balance with SMOTE on your previously copied dataframe
# You can use any external libraries to use SMOTE. We recommend the imbalanced-learn package https://imbalanced-learn.org/stable/over_sampling.html
# Make sure to select the appropriate SMOTE variant.


## Your code here
app_train_smote = ...


# We will use the dataframe app_train from 6.a in the following

<h2>Categorical features (9pts)</h2>

In `app_test`

**7a**: How will you transform the column NAME_HOUSING_TYPE in app_test be correctly handled by the model? How will you transform CODE_GENDER column?

**7b**: How would you transform the column NAME_HOUSING_TYPE in app_test if you want only 3 categories? Use LabelEncoder to transform FLAG_OWN_CAR column.

**7c**: In ORGANIZATION_TYPE, only keep the categories that appear in more than 10% of the dataset. Group other categories in one. What is the size of the dummy vector for ORGANIZATION_TYPE after this transformation?


8: **In app_test, app_past and bureau,** transform all the categorical columns that you have not processed in 7 using One-hot encoding.

*You will be evaluated as follow*
* 7: Description of the approach 4pts. Code 3pts.
* 8: Correct approach + code 2pts.

In [ ]:
## Your code here

<h2>Anomalies (7 pts)</h2>

**In app_test**

**9a**: Is there an anomaly with the column DEF_30_CNT_SOCIAL_CIRCLE? If so, how would you solve it?

**9b**: Is there an anomaly with the column LANDAREA_AVG? If so, how would you solve it?

**9c**: Is there an anomaly with the column AMT_INCOME_TOTAL? If so, how would you solve it?

10: Fix the anomaly in DAYS_EMPLOYED?

*You will be evaluated as follow*
* 9: Description of the approach + code 5pts.
* 10: code 2pts

In [ ]:
## Your code here

<h2>Correlations (9 pts)</h2>


11: **In app_test**, remove the collinear features of the dataset. How did you choose the threshold?

12: What features from bureau.csv could you use to improve the training set? Use the random forest model from the notebook of the Lecture to check if it actually improves the final model performance.

*You will be evaluated as follow*
* 11: Code 3pts. Threshold explanation 1pt.
* 12: Description of the approach 1pt. Code implementation of the approach 2pts. Improved performance 2pts.

In [ ]:
## Your code here

##  Class imbalance and model performances (6 points)


**13**: Evaluate the other technique (SMOTE) to handeling imbalance data left in *6.b*. Does it makes a difference on the final model performance? Can you use the performance on the test set to choose which techniques to use? If not, what would you need to do so?

*You will be evaluated as follow*
* 13: Code 3pts. Explanation 3pts.

In [ ]:
## Your code here

**13**: Answer the question here (double click to edit a text cell)